<mat-toolbar class="header">
  <a routerLink="" routerLinkActive="active" class="logo">
    <img src="favicon.ico" alt="">
    <h1>Collab Match</h1>
  </a>
  <div class="navigation">
    <div class="page-links"><!---->
      <div><a routerLink="more/features" href="/more/features">Features</a></div>
      <div><a routerLink="more/pricing" href="/more/pricing">Pricing</a></div>
    </div>
    <div class="user-area">
      <button mat-raised-button routerLink="user/login">
        <mat-icon>login</mat-icon>Login</button>
      <button mat-raised-button routerLink="user/sign-up">Join Now</button>
    </div>
  </div>
</mat-toolbar>
