<div class="home-background"></div>
<div class="card">
  <h1>Welcome to Collab Match <br> your collaborative community</h1>
  <p>We connect you with skilled and like-minded people, so you can create more impact and
    together we can create a sustainable and equal world.</p>
  <div class="actions">
    <button mat-raised-button routerlink="more/features" tabindex="0">Discover More</button>
    <button mat-raised-button routerlink="user/sign-up" tabindex="0">Join
      Collab Match</button>
  </div>
</div>
